body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* * {
    border: 1px solid black;
} */

header {
    background-color: #1F2937;
}

.front {
    display: flex;
    margin: 100px 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    gap: 24px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

a,
.front p { 
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;   
  }

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}

.front div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 auto;
    width: 500px;
    margin: 0 20px;
}

.front button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    padding: 8px 30px;
}


.front img{
    max-height: 250px;
    min-width: 0;
    flex: 0 1 auto;
    margin: 40px 20px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 32px;
  }

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
  }
  
.boxes {
    width: 200px;
    text-align: center;
    margin-bottom: 52px;
  }

.boxes img {
    width: 100px;
    height: 100px;
  }

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.quote .word {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin: 0 20px;
    max-width: 900px;
}

.author {
    font-weight: bold;
    font-size: 18px;
    margin: 0.;
}

.signup {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.action {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px 0px;
    margin: 0 10px;
    background-color: #3882F6;
    max-width: 900px;
    flex: auto;
}

.action button {
    border-radius: 5px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
    padding: 5px 30px;
    align-self: center;
}

.action h2, 
    .action p {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
}

.action p {
    margin-bottom: 10px;
}